body {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 0;
  /* background-image: url('../public/fondo.jpg'); 
  background-size: cover; Ajusta el tamaño para que cubra todo el fondo */
  background-color: #f2d3e6;
  color: #56366e;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  text-align: center;
  margin: 5px 5px;
  position: relative;
  min-height: 500px;
  width: 40%;
}

.container-portada {
  width: 45%;
  margin: 30px 15px;
 
}

.container-imagen{
  height: 400px;
  display: flex;
}


